.pageTemplate {
  display: grid;
  grid-template-areas: "a b" "a c" "d d";
  grid-template-rows: 56px 1fr 42px;
  grid-template-columns: 56px 1fr;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.sidebarContainer {
  grid-area: a;
}

.navbarContainer {
  grid-area: b;
}

.contentContainer {
  grid-area: c;
  max-height: calc(100vh - 56px - 40px);
}

.bottomBarContainer {
  grid-area: d;
}
