node_modules
.vscode
traffic-sniffer/.env
traffic-sniffer/node_modules/*
traffic-dashboard/node_modules/*
traffic-sniffer/node_modules/.bin/mime
dist
sharkio-0.1.0.tgz
*.tgz
.idea

sniffers-setup.json

# Ignore Yarn related files and folders
.yarn/*
.yarnrc
yarn.lock
yarn-error.log
