$primary-color: #90caf9;

.my_box {
  flex-grow: 0;
  border: 1px solid $primary-color; // Assuming "primary.main" is a valid variable
  padding: 5px;
  border-radius: 10px;
}
.my_box:hover {
  cursor: pointer;
}

.userName {
  color: $primary-color;
}
