.appContainer {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.sideBarContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.sideBarPaper {
  height: 100%;
  border-radius: 0;
  width: 30%;
}

.contentContainer {
  height: 100%;
  width: 100%;
}
