.requestsContainer {
  border-radius: 0px;
  height: 100%;
  overflow: scroll;
  padding: 20px;
  width: 100%;
}

.accordionContentContainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.accordionContentContainer *:nth-child(2) {
  // margin-left: 10px;
}

.rawDataContainer {
  max-width: 100%;
  overflow-x: scroll;
}

.requestCards {
  display: flex;
  flex-direction: column;
  column-gap: 120px;
}

.invocationsTable {
  width: 100%;
  overflow: scroll;
}
