.card {
  display: flex;
  flex-direction: row;
  row-gap: 15px;
  padding: 15px;
  min-width: 500px;
  margin-top: 15px;
  column-gap: 10px;
  margin-bottom: 15px;
}

.resultCard {
  padding: 15px;
  max-height: 100%;
  overflow: auto;
}

.resultCard > div > *:first-child {
  margin-bottom: 15px;
}

.resultCard > div > *:last-child {
  resize: vertical;
}

.resultHeader {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.swaggerContainer {
  margin-top: 15px;
  background-color: white;
  overflow: scroll;
  resize: vertical;
}
