.container {
  padding: 20px;
}

.inputs {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-bottom: 15px;
  .snifferTitle {
    align-self: center;
    text-transform: capitalize;
    cursor: pointer;
  }
}

.addSnifferBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
}

.addSnifferBtn > * {
  cursor: pointer;
  text-transform: none;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
