.card {
  padding: 20px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.requestCardFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.requestLeftSection {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.requestsSection {
  overflow: auto;
}
