$primary-color: #90caf9;

.login_component_container {
  margin: 0 5px;
}

.my_box {
  flex-grow: 0;
  padding: 5px;
  border-radius: 10px;
}
.my_box:hover {
  cursor: pointer;
}

.userName {
  color: $primary-color;
}
