.logo {
  display: flex;
  justify-content: center;
  image-rendering: crisp-edges;
}

.logo img {
  max-height: 50px;
  border-radius: 50%;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Align items on both ends */
  flex-direction: row;
  width: 100%;
  align-items: center; /* Vertically center the items */
  padding: 10px 15px;
}

.navbar_left {
  display: flex;
  align-items: center;
}

.logo_text {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "Brush Script MT", cursive;
  margin-left: 15px;
  height: 100%;
}
.paper {
  padding: 10px;
  border-radius: 0px !important;
}

.navbar_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.github_link {
  color: #fff;
  font-size: 0px;
}
