.sidebarContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
}

.sidebarContainerMinimized {
  width: 100px;
  justify-content: center;
}

.listItem {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding-inline-start: 5px;
}

.listItemMinimized {
  justify-content: center !important;
}

.paper {
  height: 100%;
  padding: 0px;
  position: relative;
  border-radius: 0px !important;
  background-color: #121212;
}

.toggleMenu {
  z-index: 1000;
  position: absolute;
  right: -12px;
  top: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4ea0e3;
}

.sharkioContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 100%;
  overflow: hidden;
  column-gap: 20px;
  padding: 15px;
  font-size: 25px;
  vertical-align: middle;
}

.logoText {
  display: flex;
  align-items: center;
}

.logo,
.logo > a {
  display: flex;
  justify-content: center;
  align-items: center;
  image-rendering: crisp-edges;
}

.logo img {
  max-height: 50px;
  border-radius: 50%;
}
