$primary-color: #90caf9;

.my_box{
    flex-grow: 0;
    border: 1px solid $primary-color ; // Assuming "primary.main" is a valid variable
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
  }

  .userName{
    color: $primary-color;
  }