.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  max-height: 100%;
  overflow: hidden;
}

.navbar {
  width: 100%;
  height: fit-content;
}

.content {
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: auto;
}
