.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  height: fit-content;
}

.sidebarContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  width: fit-content;
  min-width: 150px;
  height: 100%;
}

.content {
  padding: 20px;
  width: 100%;
  height: 100%;
}
