.requestPageContainer > div {
  margin-bottom: 15px;
  padding: 15px;
  overflow: auto;
}

.cardTitle {
  display: flex;
  padding-top: 15px;
  max-height: 300px;
  overflow: auto;
}

.invocationsCardContainer {
  overflow: auto;
}
