name: sharkio-cicd
on:
  workflow_dispatch:


jobs:
    deploy:
        runs-on: ubuntu-latest
        defaults:
          run:
            working-directory: ./client
        permissions:
            contents: 'read'
            id-token: 'write'
            pull-requests: 'write'

        steps:
          - name: Checkout code
            uses: actions/checkout@v4
    
          - name: Configure AWS credentials
            uses: aws-actions/configure-aws-credentials@v4
            with:
                # role-to-assume: arn:aws:iam::aws_account_id:user/GitHubActionsUser ### change to OIDC later? ###
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: eu-central-1

          - name: Login to Amazon ECR
            id: login-ecr
            uses: aws-actions/amazon-ecr-login@v2

          - name: Build, tag, and push docker image to Amazon ECR
            env:
              REGISTRY: ${{ steps.login-ecr.outputs.registry }}
              REPOSITORY: frontend
              IMAGE_TAG: ${{ github.sha }}
            run: |
             docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .
             docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG